<h1 class="mt-6 text-center text-3xl font-bold mb-2">About Us</h1>
<hr class="block border-gray-800 max-w-5xl mx-auto w-[98%] mb-6" />
<div class="px-4 max-w-4xl mx-auto flex flex-col gap-10">
  <article>
    <h3 class="about-heading">Our mission</h3>
    <section class="flex flex-col gap-4">
      <p>
      Here at FavFlicks, we are passionate about all things cinema and wanted to 
      help others keep track of all their favorite films! With this website, you 
      can add different movie categories, each with their own description, and 
      your favorite movies from each category. You can even add your personal 
      rating of the film!
      </p>
      <p>
        Our web application was built using 
        <a class="about-link" href="https://remaketheweb.com/" target="_blank">
          Remake
        </a> for functionality / interactivity and 
        <a class="about-link" href="https://tailwindcss.com/" target="_blank">
          Tailwind CSS
        </a> for styling!
      </p>
    </section>
  </article>
  <article>
    <h3 class="about-heading">Team members</h3>
    <section class="flex justify-around text-center">
      <div>
        <img src="../assets/images/clapperboard.png" class="about-img"></img>
        <p>Edwin Peraza</p>
      </div>
      <div>
        <img src="../assets/images/film-camera.svg" class="about-img"></img>
        <p>Ethan Safai</p>
      </div>
      <div>
        <img src="../assets/images/film-strip.png" class="about-img"></img>
        <p>Ethan Ton</p>
      </div>
      <div>
        <img src="../assets/images/popcorn.svg" class="about-img"></img>
        <p>Jin Huang</p>
      </div>
    </section> 
  </article>
</div>