<div class="container mx-auto">
    <h1 class="py-4 text-4xl font-bold text-gray-700 text-center"object key:page-title="@innerText" edit:page-title>Welcome back, {{currentUser.details.username}}!</h1>
    <hr class="max-w-2xl mx-auto mb-4 bg-gray-800">
    
    <div object>
        <div class="flex justify-center">
        <button class="flex items-center justify-center rounded border border-yellow-700 bg-yellow-200 font-bold px-12 py-3 text-yellow-700 hover:bg-yellow-700 hover:text-yellow-200 hover:border-yellow-200  focus:ring " new:category>New category</button>
        </div>
        {{!-- make section here to give style to the overall thing --}}
        <article class="flex flex-col">
        <div array key="categories" sortable>
            {{#for category in categories}}
            {{!-- make this a section or an article for individual cards for categories --}}
            <div class="my-4 border-4 border-blue-300 rounded p-4 hover:border-blue-700" object key:category-name="@search">
                <h3 class="text-2xl font-medium text-gray-900 title-font mb-2" target:category-name="@innerText" edit:category-name>Category name:</h3>
                <p class="text-sm text-gray-500 pb-1" object key:description="@innerText" edit:description:textarea>Category description here!</p>
                <div array key="movies" sortable>
                    {{#for movie in movies}}
                    
                        <div object key:movie-title="@search">
                            <h4 class="font-medium" target:movie-title="@innerText" edit:movie-title>Movie title</h4>
                            <p class="text-sm text-gray-500 pb-1" object key:movie-description="@innerText" edit:movie-description:textarea>Did you like the movie?</p>
                        </div>

                    {{/for}}
                </div>
                <button class="rounded border font-medium border-blue-900 bg-blue-900 px-4 py-2 text-white hover:bg-transparent hover:text-blue-900 hover:border-blue-900" new:movie>Add movie</button>
            </div>
            {{/for}}
        </div>
        </article>
    </div>
</div>