<h1 class="font-medium leading-tight text-5xl text-center mt-10 mb-2 text-grey-100 pt-16">Welcome to FavFlicks!</h1>

<section class="mb-20 text-gray-700">
  <div class="text-center md:max-w-xl lg:max-w-3xl mx-auto">
    <h3 class="text-3xl font-bold mb-6 text-gray-800">About our Website</h3>
    <p class="mb-6 pb-2 md:mb-12 md:pb-0">
      Here at FavFlicks you can create your archive of movies watched or build lists of your favorite cult classics plus other features you can discover once you sign up.
    </p>
  </div>
</section>