<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FavFlicks</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/_remake.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>

<body class="flex flex-col min-h-screen">
    {{!-- beginning of navbar --}}
    <header>
        <div class="bg-gray-900">
            <div class="px-4 py-5 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8">
                <div class="relative flex items-center justify-between">
                    <div class="flex items-center">
                        <a href="/"  class="inline-flex items-center mr-8">
                            <svg class="w-8 text-teal-accent-400 hover:stroke-blue-300" viewBox="0 0 24 24" stroke-linejoin="round"
                                stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" stroke="white"
                                fill="none">
                                <rect class="hover:stroke-blue-300" x="3" y="1" width="7" height="12"></rect>
                                <rect class="hover:stroke-blue-300" x="3" y="17" width="7" height="6"></rect>
                                <rect class="hover:stroke-blue-300" x="14" y="1" width="7" height="6"></rect>
                                <rect class="hover:stroke-blue-300" x="14" y="11" width="7" height="12"></rect>
                            </svg>
                            <span class="ml-2 text-xl font-bold tracking-wide text-gray-100  hover:text-blue-300">FavFlicks</span>
                        </a>
                        <ul class="flex items-center space-x-8 lg:flex bar-element">
                            <li><a class="block h-16 border-b-4 border-transparent leading-[4rem] hover:border-current hover:text-blue-300" href="/aboutus" aria-label="About us" title="About us">About
                                    us</a></li>
                        </ul>
                    </div>
                    <ul class="flex items-center space-x-8 lg:flex bar-element">
                        {{#if currentUser}}
                        <li><a class="group relative inline-block overflow-hidden border border-blue-300 px-8 py-3 focus:outline-none focus:ring"
                                href="/{{currentUser.details.username}}">
                                <span
                                    class="absolute inset-y-0 left-0 w-[2px] bg-blue-300 transition-all group-hover:w-full group-active:bg-indigo-500"></span>

                                <span
                                    class="relative text-sm font-medium text-blue-300 transition-colors group-hover:text-white">
                                    Dashboard
                                </span>
                            </a></li>

                        <!-- Right -->

                        <li><a class="group relative inline-block overflow-hidden border border-blue-300 px-11 py-3 focus:outline-none focus:ring"
                                href="/user/logout">
                                <span
                                    class="absolute inset-y-0 right-0 w-[2px] bg-blue-300 transition-all group-hover:w-full group-active:bg-indigo-500"></span>

                                <span
                                    class="relative text-sm font-medium text-blue-300 transition-colors group-hover:text-white">Logout
                                </span>
                            </a></li>
                        {{else}}
                        <li><a class="group relative inline-block overflow-hidden border border-blue-300 px-8 py-3 focus:outline-none focus:ring"
                                href="/user/signup">
                                <span
                                    class="absolute inset-y-0 left-0 w-[2px] bg-blue-300 transition-all group-hover:w-full group-active:bg-indigo-500"></span>

                                <span
                                    class="relative text-sm font-medium text-blue-300 transition-colors group-hover:text-white">
                                    Sign up
                                </span>
                            </a></li>

                        <!-- Right -->

                        <li><a class="group relative inline-block overflow-hidden border border-blue-300 px-9 py-3 focus:outline-none focus:ring"
                                href="/user/login">
                                <span
                                    class="absolute inset-y-0 right-0 w-[2px] bg-blue-300 transition-all group-hover:w-full group-active:bg-indigo-500"></span>

                                <span
                                    class="relative text-sm font-medium text-blue-300 transition-colors group-hover:text-white">Log
                                    in
                                </span>
                            </a></li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <main class="flex-grow">
        {{!-- Show errors --}}
        {{#if flashErrors }}
        {{#each flashErrors }}
        <div>{{ this }}</div>
        {{/each}}
        {{/if}}
        {{!-- Show success messages --}}
        {{#if flashSuccesses }}
        {{#each flashSuccesses }}
        <div>{{ this }}</div>
        {{/each}}
        {{/if}}
        {{> yield }}

    </main>
    <footer class="bg-gray-400 text-center lg:text-left">
        <p class=" text-gray-700 text-center p-4">
            © 2022 Copyright: Group 12
            <a class="inline-flex mx-8 items-center rounded border-2 border-[#171515] bg-[#171515] px-5 py-3 text-sm font-medium text-white transition-colors hover:bg-transparent hover:text-[#171515] focus:outline-none focus:ring active:opacity-75"
                href="https://github.com/edwinperaza99/cpsc349-project2" target="_blank" rel="noreferrer noopener">
                GitHub

                <svg class="ml-2 h-5 w-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                    <path fill-rule="evenodd"
                        d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                        clip-rule="evenodd"></path>
                </svg>
            </a>
        </p>

    </footer>

    {{#if isPageAuthor}}
    {{!-- Prevent loading the Remake framework if the page isn't editable --}}
    <script src="/assets/js/vendor/Sortable.min.js"></script>
    <script src="/assets/js/vendor/crostini.min.js"></script>
    <script src="/remake/js/remake.min.js"></script>
    <script src="/assets/js/remake-init.js"></script>
    {{/if}}
    <script src="/assets/js/main.js"></script>
</body>

</html>